@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 159, 7, 247;
    --background-end-rgb: 36, 30, 0;
  }
} */



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

:root {
  color: rgb(255, 255, 255);;
  /* -webkit-text-stroke-width: .05rem;
  -webkit-text-stroke-color: rgb(255, 255, 255); */
    }
  

#activated {
    color: rgb(59 130 246);
}

:root {
 
  background-image: url('https://i.imgur.com/sY4ldxs.png');
  background-repeat: repeat;
  
}
